
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                          {% for i in photo %}
                            
                            <img class='image-thumbnail' src="https://static.toiimg.com/thumb/msid-83567956,width-1200,height-900,resizemode-4/.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="{% url 'photos' 1 %}" class="btn btn-block btn-dark">Go somewhere</a>
                              {% endfor %} 

                            </div>
                          </div>

                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img  class='image-thumbnail' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0xBAMxhaNpNTAmKPRL64qGXqGifLPxLu9Ew&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class='image-thumbnail'  src="https://static.toiimg.com/photo/msid-84010382/84010382.jpg?207653" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class='image-thumbnail'  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC_mnS52B7w3hTHmDBwisq3Sv-f-yV9aBoVg&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class='image-thumbnail'  src="https://images.news18.com/ibnlive/uploads/2021/07/1625746403_thalapathy-vijay-bigil.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
